<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header>
<img src="https://uvm.edu.ve/wp-content/uploads/2022/10/LOGO-RIF.png" alt="Logo UVM">
<h1>Sistema de Gestión de la Universidad Valle del Momboy</h1>
</header>
<body>
    <h3>Login Exitoso</h3>
    <p>A continuación, se muestra el token generado:</p>
    <textarea><%= token %></textarea>
</body>
<footer>
    <p class="footer-p">Verónica Parra 30.600.365<br>Cristhofer Solarte 30.959.561<br> <em>&copy; Backend 2024. Proyecto</em><br><a href="http://localhost:3000/">Principal</a></p></footer>
</html>
